@model Biography

@{
    string imageUrl = "Required";
}

<div class="row d-flex justify-content-center">
    <div class="card shadow border-0 my-4 col-4">
        <div class="card-header ml-0 py-3">
            <div class="row">
                <div class="text-center">
                    <h2 class="text-dark py-2">Update Bio</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">

            <form method="post" class="row" enctype="multipart/form-data">
                <input asp-for="@Model.Id" hidden />
                @if (Model.Image != null && Model.Image.Length > 0)
                {
                    imageUrl = Model.Image;
                }
                <input asp-for="@Model.Image" value="@imageUrl" hidden />

                <div class="row">
                    <div class="">
                        <div class="form-floating py-2 col-12">
                            <input asp-for="@Model.Image" class="form-control border-0 shadow" />
                            <label asp-for="@Model.Image" class="ms-2 text-dark"></label>
                            <span asp-validation-for="@Model.Image" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <textarea asp-for="@Model.Text" class="form-control border-0 shadow"></textarea>
                            <label asp-for="@Model.Text" class="ms-2 text-dark"></label>
                            <span asp-validation-for="@Model.Text" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="@Model.ImageAltText" class="form-control border-0 shadow" />
                            <label asp-for="@Model.ImageAltText" class="ms-2 text-dark">Git URL</label>
                            <span asp-validation-for="@Model.ImageAltText" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <textarea asp-for="@Model.ImageFooter" class="form-control border-0 shadow"></textarea>
                            <label asp-for="@Model.ImageFooter" class="ms-2 text-dark"></label>
                            <span asp-validation-for="@Model.ImageFooter" class="text-danger"></span>
                        </div>

                        @if (Model.Image != null)
                        {
                            <div class="col-4">
                                <img src="~/img/bio/@Model.Image" width="100%"
                                     style="border-radius:5px; border:1px solid #bbb9b9" />
                            </div>
                        }
                        <div class="form-floating py-2 col-12">
                            <input type="file" name="files" class="form-control border-0 shadow" multiple />
                            <label asp-for="@Model.Image" class="ms-2"></label>
                        </div>

                        <div class="row pt-2">
                            <div class="col-6">
                                <button type="submit" class="btn btn-warning form-control">Update</button>
                            </div>
                            <div class="col-6">
                                <a asp-area="Admin" asp-controller="Biography" asp-action="Index" class="btn btn-outline-light text-dark form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
